:root {
  /* Colors */
  --background: #000000;
  --foreground: #0A0A0A;
  --gray-100: #1A1A1A;
  --gray-200: #1F1F1F;
  --gray-300: #292929;
  --gray-400: #2E2E2E;
  --gray-500: #454545;
  --gray-600: #878787;
  --gray-700: #8F8F8F;
  --gray-800: #7D7D7D;
  --gray-900: #A1A1A1;
  --gray-1000: #EDEDED;
  --gray-alpha-100: #0F0F0F;
  --gray-alpha-200: #171717;
  --gray-alpha-300: #212121;
  --gray-alpha-400: #242424;
  --gray-alpha-500: #3D3D3D;

  /* Typography (Geist scale) */
  --font-heading-72: 4.5rem;
  --font-heading-64: 4rem;
  --font-heading-56: 3.5rem;
  --font-heading-48: 3rem;
  --font-heading-40: 2.5rem;
  --font-heading-32: 2rem;
  --font-heading-24: 1.5rem;
  --font-heading-20: 1.25rem;
  --font-heading-16: 1rem;
  --font-heading-14: 0.875rem;

  --font-button-16: 1rem;
  --font-button-14: 0.875rem;
  --font-button-12: 0.75rem;

  --font-label-20: 1.25rem;
  --font-label-18: 1.125rem;
  --font-label-16: 1rem;
  --font-label-14: 0.875rem;
  --font-label-13: 0.8125rem;
  --font-label-12: 0.75rem;

  --font-copy-24: 1.5rem;
  --font-copy-20: 1.25rem;
  --font-copy-18: 1.125rem;
  --font-copy-16: 1rem;
  --font-copy-14: 0.875rem;
  --font-copy-13: 0.8125rem;

}


html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font1);
  font-weight: normal;
  color: var(--gray-1000);
}

/* #main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: visible;
}
 */
