.header {
    width: 100vw;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid var(--gray-200); */
}

.container {
    height: 100%;
    width: 98%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: var(--font-heading-16);
    font-weight: 500;
    color: var(--gray-1000);
}
