.previewGrid {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	/* display: grid;
	gap: 12px;
	grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); */
}
