.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 12px;
	margin-right: 12px;
	border-radius: 12px;
	flex: 1;
	border: 1px solid var(--gray-300);
	background-color: var(--background);
	box-sizing: border-box;
	background-image: radial-gradient(circle at 50% 0%,
			rgba(255, 255, 255, 0.025) 0%,
			transparent 100%);
	box-shadow: inset 0 2px 4px 0 rgba(0,0,0, 0.5);
}

.content {
	width: 100%;
	padding: 32px 48px;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.heading {
	width: 100%;
	padding-bottom: 32px;
}

.headingTitle {
	font-size: var(--font-heading-32);
	font-weight: 500;
	color: var(--gray-1000);
}

.headingSubtitle {
	font-size: var(--font-label-13);
	color: var(--gray-800);
	margin-top: 8px;
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	margin-top: 8px;
}


