
.tabs {
  border: 1px solid var(--gray-300);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: var(--background);
	box-shadow: inset 0 2px 4px 0 rgba(0,0,0, 0.4);

  /* REMOVE LATER */
  padding: 1rem;
}

.tabsList {
  display: flex;
  position: relative;
  z-index: 0;
  padding-inline: 0.25rem;
  gap: 0.25rem;
}

.tab {  
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  border: 0;
  margin: 0 0.2rem;
  outline: 0;
  background: none;
  appearance: none;
  color: var(--gray-900);
  font-family: var(--font1);
  font-size: var(--font-button-14);
  line-height: 1.25rem;
  font-weight: 500;
  user-select: none;
  white-space: nowrap;
  word-break: keep-all;
  padding-inline: 1rem;
  padding-block: 0;
  height: 2rem;

  &[data-active] {
    color: var(--gray-1000);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--gray-1000);
    }
  }

  &:focus-visible {
    position: relative;

    /* &::before {
      content: '';
      position: absolute;
      inset: 0.25rem 0;
      border-radius: 0.25rem;
      outline: 2px solid var(--color-blue);
      outline-offset: -1px;
    } */
  }
}

.indicator {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 50%;
  translate: var(--active-tab-left) -50%;
  width: var(--active-tab-width);
  height: 2rem;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  background-color: var(--foreground);
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0, 0.4);
  transition-property: translate, width;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--gray-300);
  margin: 16px 0;
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  outline: 0;

  &:focus-visible {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
    border-radius: 0.375rem;
  }

  &[hidden] {
    display: none;
  }
}

.formField {
  width: 20%;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.formLabel {
  font-family: var(--font1);
    font-size: var(--font-label-12);
    color: var(--gray-800);
}

