.input {
    width: 100%;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid var(--gray-400);
    font-family: var(--font1);
    font-size: var(--font-label-14);
    background: var(--foreground);
    color: var(--gray-1000);
    outline: 3px solid transparent;
    transition: outline-color 300ms ease;
}

.input::placeholder {
    color: var(--gray-900);
}

.input:focus {
    outline-color: var(--gray-600);
}